.hide {
    display: none;
}

body {
    background-color: black;
    box-sizing: border-box;

}
.left { 
    padding-bottom: 20px;
    text-align: center;
    height: 350px;
    width: 350px;
    border-radius: 15px 50px;
    background-color: purple;
    float: left;
}
.right {
    padding-bottom: 20px;
    text-align: center;
    height: 350px;
    width: 350px;
    border-radius: 50px 15px;
    background-color: blue;
    float: right;
}
.clear {
    clear: both;
}
#reset-container, h1 {
    /* text-size-adjust: 50%; */
    background-color: goldenrod;
    text-align: center;
}

#teamone-shoot-button {
    border: black solid 2px;
    float: right;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url("bball.jpg")
}

#teamtwo-shoot-button {
    border: black solid 2px;
    height: 100px;
    width: 100px;
    float: left;
    border-radius: 50%;
    background-image: url("bball.jpg");
}

.goals {
    text-emphasis: strong;
}

#reset-button {
    border: black solid 2px;
    height: 75px;
    background-color: yellow;
    border-radius: 0% 0% 50% 50%;
}

/* #teamone-shoot-button {
    margin: 0;
} */